---
interface Props {
    date: string
    title: string
    description: string
    link: string
}
const {date, title, description, link } = Astro.props

import Button from '../components/NextUIButton.astro'
---


<span class="absolute flex items-center justify-center w-6 h-6  rounded-full -start-3 ring-gray-900 bg-purple-500">
    <svg 
    xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code size-4" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="white" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
</span>
<h3 class="flex items-center mb-1 text-lg font-semibold text-white">
    {title}
</h3>
<time class="block mb-2 text-sm font-normal leading-none text-gray-500">{date}</time>
<p class="mb-4 text-sm font-normal text-white opacity-70 text-pretty">
    {description}
</p>
{
    link && (
        <a  target="_blank" href={link}>
            <Button>View Certificate</Button>
        </a>
    )
}

