---
import CertificateItem from "./CertificateItem.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";


const CERTIFICATES = [
    {
        date: t("CERT.first.date"),
        title: t("CERT.first.title"),
        description: t("CERT.first.desc"),
        link:"https://udemy-certificate.s3.amazonaws.com/pdf/UC-500b3bb5-3fd0-49f5-a28e-24ac3214c88d.pdf"
    },
    {
        date: t("CERT.second.date"),
        title: t("CERT.second.title"),
        description: t("CERT.second.desc"),
        link: "https://www.coursera.org/account/accomplishments/certificate/YM39887UG76N"
    },
    {
        date: t("CERT.third.date"),
        title: t("CERT.third.title"),
        description: t("CERT.third.desc"),
        link: "https://www.coderhouse.es/certificados/6456151de78efc0002ec9265"
    },
    {
        date: t("CERT.fourth.date"),
        title: t("CERT.fourth.title"),
        description: t("CERT.fourth.desc"),
        link: "https://api.educacionit.com/pdf/certificados/julian-berardinelli-539995/44814"
    }

]
---


<ol class="relative border-s border-gray-700 ">
    {
        CERTIFICATES.map(certificate =>(
        <li class="pt-3 mb-10 ms-6">
            <CertificateItem {...certificate} />
        </li>
        ))
    }
</ol>
