---
import HtmlIcon from '../components/icons/HtmlIcon.astro';
import CssIcon from '../components/icons/CssIcon.astro'
import JSIcon from '../components/icons/JSIcon.astro'
import NodeIcon from '../components/icons/NodeIcon.astro'
import AngularIcon from '../components/icons/AngularIcon.astro'
import TypescriptIcon from '../components/icons/TypescriptIcon.astro'
import PythonIcon from '../components/icons/PythonIcon.astro'
import TailIcon from '../components/icons/TailIcon.astro'
import SassIcon from '../components/icons/SassIcon.astro'
import JQueryIcon from '../components/icons/JQueryIcon.astro'
import AstroIcon from '../components/icons/AstroIcon.astro'
import BootIcon from '../components/icons/BootIcon.astro'
import ExpressIcon from '../components/icons/ExpressIcon.astro'
import DjangoIcon from '../components/icons/DjangoIcon.astro'
import FlaskIcon from '../components/icons/FlaskIcon.astro'
import MySqlIcon from '../components/icons/MySqlIcon.astro'
import MongoIcon from '../components/icons/MongoIcon.astro'
import StrapiIcon from '../components/icons/StrapiIcon.astro'
import PostmanIcon from '../components/icons/PostmanIcon.astro'
import GitIcon from '../components/icons/GitIcon.astro';
import JiraIcon from '../components/icons/JiraIcon.astro';
import SeleniumIcon from '../components/icons/SeleniumIcon.astro';
import ReactIcon from './icons/ReactIcon.astro';
import ReactNativeIcon from './icons/ReactNativeIcon.astro';

import StackPill from '../components/StackPills.astro'
import NextIcon from './icons/NextIcon.astro';
---

<nav class="flex gap-x-4 mt-8 md:mt-12 flex-wrap">
    <div class="mt-4 grid grid-cols-3 gap-4 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-6 xl:grid-cols-6">
        <StackPill>
            <HtmlIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="sm:text-[10px]md:text-[15px] lg:text-[15px] font-medium text-balance text-center select-all">
                    HTML5
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <CssIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="sm:text-[10px]md:text-[15px] lg:text-[15px] font-medium text-balance text-center select-all">
                    CSS3
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <JSIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    JavaScript
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <TypescriptIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    TypeScript
                </h5>
                <p class="opacity-50 text- pt-1 text-xs ">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <AngularIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Angular
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <ReactIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    React
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Library</p>
            </div>
        </StackPill>
        <StackPill>
            <NextIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Next JS
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <ReactNativeIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    R - Native
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Mobile</p>
            </div>
        </StackPill>
        <StackPill>
            <AstroIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Astro
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <TailIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Tailwind
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <BootIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Bootstrap
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <SassIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="sm:text-[10px] md:text-[15px] lg:text-[15px] font-medium text-balance text-center select-all">
                    Sass
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <JQueryIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="sm:text-[10px] md:text-[15px] lg:text-[15px] font-medium text-balance text-center select-all">
                    JQuery
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <NodeIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Node JS
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Library</p>
            </div>
        </StackPill>
        <StackPill>
            <ExpressIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Express
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <PythonIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="sm:text-[10px]md:text-[15px] lg:text-[15px] font-medium text-balance text-center select-all">
                    Python
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Language</p>
            </div>
        </StackPill>
        <StackPill>
            <DjangoIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Django
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <FlaskIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Flask
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Framework</p>
            </div>
        </StackPill>
        <StackPill>
            <MySqlIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    MySQL
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Database</p>
            </div>
        </StackPill>
        <StackPill>
            <MongoIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    MongoDB
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Database</p>
            </div>
        </StackPill>
        <StackPill>
            <StrapiIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Strapi
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">CMS</p>
            </div>
        </StackPill>
        <StackPill>
            <GitIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Git
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Software</p>
            </div>
        </StackPill>
        <StackPill>
            <JiraIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Jira
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Testing SW</p>
            </div>
        </StackPill>
        <StackPill>
            <SeleniumIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Selenium
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Testing SW</p>
            </div>
        </StackPill>
        <StackPill>
            <PostmanIcon class="size-8 lg:size-12" />
            <div class="mb-3 flex flex-col items-center justify-center py-4 pb-0">
                <h5 class="text-[15px] font-medium text-balance text-center select-all">
                    Postman
                </h5>
                <p class="opacity-50 text- pt-1 text-xs">Software</p>
            </div>
        </StackPill>
    </div>
</nav>