---
import StudiesItem from "./StudiesItem.astro"
//translations
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const STUDIES = [
    {
        index: 0,
        date: t("STUDIE.fisrt.date") ,
        title: "Deutsche Schule Temperley",
        description: t("STUDIE.fisrt.description"),
        link: "https://temperleyschule.edu.ar/"
    },
    {
        index: 1,
        date:  t("STUDIE.second.date") ,
        title: "Colegio Manuel Belgrano Temperley",
        description:  t("STUDIE.second.description") ,
        link: "https://www.belgrano.esc.edu.ar/" 
    },
    {
        index: 2,
        date:  t("STUDIE.third.date"),
        title: t("STUDIE.third.title"),
        description:  t("STUDIE.third.description"),
        link: "https://www.uade.edu.ar/"
    }
]
---
<ol class="items-center sm:flex">
        {
            STUDIES.map(study => (
            <li class="relative mb-6 sm:mb-0">
                    <StudiesItem {...study} />
                </li>
            ))
        }
</ol>
