---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;

//translations
import i18next from "i18next";

---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hire Julian Berardinelli - Web Development and Graphic Design Services" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Julián Berardinelli</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>

	:root {
		color-scheme: light dark;
	}
	html {
		background: linear-gradient(to bottom, #03045e, #020024);
		font-family:
			"Onest Variable" system-ui,
			sans-serif;
		scroll-behavior: smooth;

	}
	body {
		background: linear-gradient(to bottom, #03045e, #020024);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
		min-height: 100vh;
		font-family: "Onest Variable";
	}
	body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url('ruta/de/tu/textura-de-grano.png'); /* Reemplaza con la ruta correcta de tu textura de grano */
    opacity: 0.1; /* Ajusta la opacidad según sea necesario */
}
	@media (prefers-reduce-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	}
	@font-face {
		font-family: "Noto Color Emoji";
		font-style: normal;
		font-weight: 400;
		src: url("https://fonts.gstatic.com/s/notocoloremoji/v1/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXw.0.woff2")
			format("woff2");
		unicode-range: U+1f1e6-1f1ff;
	}

	span.flags {
		font-family: "Noto Color Emoji";
		font-size: 1em;

	}
</style>
