---
import HeaderPhone from "../components/HeaderPhone.astro";
import HeaderComputer from '../components/HeaderComputer.astro'
import "@fontsource-variable/onest";

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;

//translations
import i18next from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import { LanguageSelector } from "astro-i18next/components";

---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Hire Julian Berardinelli - Web Development and Graphic Design Services" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logos/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Julián Berardinelli - Dev & Designer</title>
		
		<!-- Opengraph -->
		<meta property="og:title" content="Julián Berardinelli - Portfolio">
		<meta property="og:description" content="Hire Julian Berardinelli - Web Development and Graphic Design Services">
		<meta property="og:image" content="/og/opengraph.webp">
		<meta property="og:image:alt" content="Portfolio Screenshot">

		<link rel="canonical" href="https://julianberardinelli.com">

		<HeadHrefLangs />
	</head>
	<body>
		<HeaderPhone class="hidden sm:block z-50" />
		<div class="flex justify-end items-center pt-4">
			<div class="w-50% py-4 px-4">
				<LanguageSelector showFlag={true} class=" sm:hidden rounded-full border bg-black/5 border-white/5 gap-x-2 px-2 font-light text-xs hover:scale-105 hover:bg-black/10 hover:boder-blue-500 transition focus:outline-none" />
			</div>
		</div>
		<HeaderComputer class="hidden sm:block" />


		<slot />
	</body>
</html>
<style is:global>

	:root {
		color-scheme: light dark;
	}
	html {
		background: linear-gradient(to bottom, #03045e, #020024);
		font-family:
			"Onest Variable" system-ui,
			sans-serif;
		scroll-behavior: smooth;

	}
	body {
		background: linear-gradient(to bottom, #03045e, #020024);
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: white;
		min-height: 100vh;
		font-family: "Onest Variable";
	}
	@media (prefers-reduce-motion: reduce){
		html {
			scroll-behavior: auto;
		}
	}
	@font-face {
		font-family: "Noto Color Emoji";
		font-style: normal;
		font-weight: 400;
		src: url("https://fonts.gstatic.com/s/notocoloremoji/v1/Yq6P-KqIXTD0t4D9z1ESnKM3-HpFabsE4tq3luCC7p-aXw.0.woff2")
			format("woff2");
		unicode-range: U+1f1e6-1f1ff;
	}

	span.flags {
		font-family: "Noto Color Emoji";
		font-size: 1em;

	}
</style>
